@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&family=Open+Sans:wght@400;600&display=swap');
@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/btn-green.css");
@import url("components/banner.css");
@import url("components/cards.css");
@import url("components/footer.css");
@import url("components/apply.css");

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: #1a1a1a;
  background-color: #f7f9fa;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}