.footer {
  background-color: #03120b;
  color: #ffffff;
  padding: 60px 0;
}

.footer h2 {
  font-size: 42px;
  margin: 0 0 10px 0;
  letter-spacing: 1px;
}

.footer-line {
  width: 80px;
  height: 4px;
  background-color: #10b981;
  margin-bottom: 40px;
}

.footer-contact-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.contact-item {
  display: flex;
  align-items: flex-start;
  flex-basis: 250px;
  flex-grow: 1;
  font-size: 16px;
  line-height: 1.5;
}

/* Estilo para los íconos */
.contact-item span {
  font-size: 20px;
  margin-right: 12px;
  margin-top: 2px;
}